

footer{
	width: 100%;
	height: 150px;
	background-color: black;
	color: white;
}

/*---------------------------------------------------------
-----------------------------------------------------------
					ENCABEZADO.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/
.slide{
	margin:0px;

}

/*---------------------------------------------------------
-----------------------------------------------------------
					MENU.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/
nav{
	height: 100px !important;
}

/*---------------------------------------------------------
-----------------------------------------------------------
					PIE.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/

.pie{
	position: relative; top:40px;
	width: 180px;
}
strong{
	color: rgb(105, 137, 230)
}

/*---------------------------------------------------------
-----------------------------------------------------------
					INICIO.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/
.tablaPartidos th tr{
	text-align: center;
}
.borde{
	border:1px solid black;
	height: 150px;
}
.altoNoticia{
	height: 500px;
}
.altoNoticia{
	position: relative; left:20%;
}

.caption p{
	width: 150%;
}

/*---------------------------------------------------------
-----------------------------------------------------------
					CLUB.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/
.lineardiv{
	
}
.englobaD{ width: 150%; }




/*---------------------------------------------------------
-----------------------------------------------------------
					HISTORIA.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/

/*---------------------------------------------------------
-----------------------------------------------------------
					HIMNO.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/
.letrisra img{
  width: 200px;
}
      
#himno{
  display: inline-block;
  position: fixed;
        
}
.letrista{
  display: inline-block;
}  

/*---------------------------------------------------------
-----------------------------------------------------------
					EQUIPO.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/
/*---------------------------------------------------------
-----------------------------------------------------------
					NOTICIAS.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/

article img{

	width: 25%;
}

/*---------------------------------------------------------
-----------------------------------------------------------
					HORARIOS.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/
.center{
    text-align: center;
    background-color: black!important;
    color:white;
}
.table-condensed tr td:first-child {
    width: 100px;
      
}

/*---------------------------------------------------------
-----------------------------------------------------------
					CONTACTO.PHP
-----------------------------------------------------------
-----------------------------------------------------------

*/
#mapa img{
	width: 650px;
}
#fundacion img{
	width: 350px;
}
.linearMargin{ margin-top: 20px !important; }
strong{
	color: rgb(105, 137, 230)
}

